@font-face {
    font-family: 'Avenir';
    src: url("../../assets/fonts/Font/AvenirNextLTPro-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url("../../assets/fonts/Font/AvenirNextLTPro-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url("../../assets/fonts/Font/AvenirNextLTPro-Regular.otf") format ("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir';
    src: url("../../assets/fonts/Font/AvenirNextLTPro-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
}

body {
    font-family: 'Avenir', sans-serif;
}

.title {
    font-weight: 700;
}

.subtitle{
    font-weight: 500;
}