$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$capstone-black: #323232;
$capstone-silver: #AFAFAF;
$capstone-mercury: #E1E1E1;
$capstone-blue: #0095FF;
$capstone-darkblue: #0065AD;
$capstone-white: #FFFFFF;
$capstone-alabaster: #FAFAFA;
$capstone-darkblack: #000000;