@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.main {

    &__header {
        text-align: center;
    }

    &__map {
        width: 95%;
        margin-left: 1rem;
    }


}

@include tablet {

   .main {

    &__map {
        margin-left: 1.5rem;
    }
    


   }



}

@include desktop {

    .main {


        &__header {
            margin-right: 6rem;
        }
    

        &__map {
            width: unset;
            margin-left: 26rem;
        }
        


    }



}