@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.main {

    &__header {
        text-align: center;
    }

    &__map {
        width: 100%;
    }



}

@include tablet {



}

@include desktop {

    .main {


        &__header {
            margin-right: 6rem;
        }
    

        &__map {
            width: unset;
            margin-left: 26rem;
        }
        


    }



}