@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.header {

    font-size: 24px;
    font-weight: 400;
    text-align: center;
    width: 50%;
    margin-left: 124px;
   
    &__list--item1 {
        background-color: cadetblue;
        text-decoration: none;
        color: white;
    }

    &__list--item2 {
        background-color: antiquewhite;
        text-decoration: none;
        color: black;
    }

    &__list--item3 {
        background-color: cadetblue;
        text-decoration: none;
        color: white;
    }

    &__list--item4 {
        background-color: antiquewhite;
        text-decoration: none;
        color: black;
    }

    &__list--item5 {
        background-color: cadetblue;
        text-decoration: none;
        color: white;
    }

    &__list--item6 {
        background-color: antiquewhite;
        text-decoration: none;
        color: black;
    }

    &__link {
        text-decoration: none;
    }

    transition: background-color 0.3s ease;

}

.header:hover {
    background-color: #555;
  }

.horizontal-header {
    display: none;
}

@include tablet {

    .header {
        display: none;
    }

    .horizontal-header {
        background-color: #333; /* Set your desired background color */
        color: #fff; /* Set your desired text color */
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s ease;

        &__link {
            text-decoration: none;
            color: white;
          }


      }

      .horizontal-header:hover {
        background-color: #555;
        
      }
      
      nav ul {
        list-style: none;
        display: flex;
      }
      
      nav ul li {
        margin-right: 15px;
        cursor: pointer;
      }

   

      

  


}

