@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.homepage {

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}